<!DOCTYPE html>
<html>
    <head lang='en'>
        <meta charset='utf-8'>
        <title>404 Error Page not Found</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <ul class='buttons-perspective'>
            <li><a href="index.html">Home</a></li>
            <li><a href="apps.html">Products</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="contact_info.html">Contact Us</a></li>
            <li><a href="q_n_a.html">Questions and Answers</a></li>
        </ul>
        <span>Sorry, the page you requested was not found...</span>
        <p>Lets take you back to the <a href="index.html">homepage</a></p>
    </body>
</html>
